# Buildout config that can be used when you have a separate zodb for
# the portal_catalog, like we at Zest Software have.
[buildout]
parts += zeoserver


[instance]
zeo-client = true
zeo-address = ${zeoserver:zeo-address}
zope-conf-additional =
    <zodb_db catalog>
        mount-point /projects.zestsoftware.nl/portal_catalog:/empty/plone/portal_catalog
        cache-size 20000
        <zeoclient>
            server ${zeoserver:zeo-address}
            storage catalog
            name catalogstorage
            cache-size 300MB
        </zeoclient>
    </zodb_db>

[backup]
additional_filestorages = Catalog
