[buildout]
extensions =
    mr.developer
    buildout.dumppickedversions
extends =
    http://dist.plone.org/release/3.3.6/versions.cfg
    versions.cfg
parts =
    instance
    zopepy
    test
    omelette
    backup

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/3.3.6/
    http://dist.plone.org/thirdparty/

# Add additional eggs here
eggs =
    Plone
    Products.eXtremeManagement
# Optional extras for xm
    xm.theme
    xm.tracker
    experimental.catalogqueryplan
    pygooglechart
# Not really related, but handy still:
    Products.CacheSetup
    Products.TinyMCE
# Debug stuff
    Products.PDBDebugMode
    plone.reload
    Products.PrintingMailHost
develop = .
versions = versions
sources = sources
always-checkout = true
auto-checkout =


[sources]
# For use by the mr.developer extension.  Run 'bin/develop help'.
kss.plugin.timer = git git@github.com:zestsoftware/kss.plugin.timer.git
kss.plugin.yuidnd = git git@github.com:zestsoftware/kss.plugin.yuidnd.git
xm.booking = git git@github.com:zestsoftware/xm.booking.git
xm.charting = git git@github.com:zestsoftware/xm.charting.git
xm.theme = git git@github.com:zestsoftware/xm.theme.git
xm.tracker = git git@github.com:zestsoftware/xm.tracker.git        


[zope2]
recipe = plone.recipe.zope2install
url = ${versions:zope2-url}
additional-fake-eggs = 
    ZODB3


[zeoserver]
recipe = plone.recipe.zope2zeoserver
zope2-location = ${zope2:location}
zeo-address = 9090
zeo-conf-additional =
    <filestorage catalog>
        path ${buildout:directory}/var/filestorage/Catalog.fs
    </filestorage>


[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 127.0.0.1:8080
debug-mode = on
verbose-security = on
eggs =
    ${buildout:eggs}
zcml =
    plone.reload


[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy


[test]
recipe = collective.recipe.z2testrunner
zope2part = instance
packages =
    Products.eXtremeManagement
    xm.booking
    xm.charting
    xm.theme
    xm.tracker


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
packages = ${zope2:location}/lib/python ./


[backup]
# Handy for making snapshots after having prepared a test Data.fs
recipe = collective.recipe.backup
# Do not throw backups away:
keep = 0
